.profile-main-content{
	display:flex;

}

.profile-left-content {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/background.jpg');
    height: 400px;
    width:50%;
}

.profile-right-content {
	display:flex;
	align-items:center;
	margin:0px auto;
}

form input {
	    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
    
  width:300px;
  margin:10px 0px 10px 20px;
}

.login-header {
	margin-bottom:20px;
}

button {
	
	width:150px;
	height:30px;
    font-size: 20px;
    text-align: center;

    background-color: grey;
    color: white;
    border-radius: 1em;
    border-color:transparent;
}

button:hover {
	background-color:#cca620;
}